.container {
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: 0;
}

.shootingStar {
   position: absolute;
   left: 0;
   top: 0;
   transform: rotateZ(65deg);
   height: 2px;
   background: linear-gradient(-65deg, #7d8592de, rgba(0, 0, 255, 0));
   /* border-radius: 999px; */
   filter: drop-shadow(0 0 6px #7d8592);
   -moz-animation: tail 6000ms ease-in-out infinite,
      shoot 6000ms ease-in-out infinite;

   -moz-animation-delay: 2000ms;
   -webkit-animation: tail 6000ms ease-in-out infinite,
      shoot 6000ms ease-in-out infinite;

   -webkit-animation-delay: 2000ms;
   animation: tail 6000ms ease-in-out infinite,
      shoot 6000ms ease-in-out infinite;

   animation-delay: 2000ms;
}

.shootingStar::before,
.shootingStar::after {
   content: "";
   position: absolute;
   top: calc(40%-2px);
   right: 2px;
   height: 2px;
   background: linear-gradient(
      -65deg,
      rgba(0, 0, 255, 0),
      #7d8592de,
      rgba(0, 0, 255, 0)
   );
   transform: translateX(50%) rotateZ(65deg);
   border-radius: 100%;
   -moz-animation: shine 6000ms ease-in-out infinite;
   -moz-animation-delay: 2000ms;
   -webkit-animation: shine 6000ms ease-in-out infinite;
   -webkit-animation-delay: 2000ms;
   animation: shine 6000ms ease-in-out infinite;
   animation-delay: 2000ms;
}

.shootingStar::after {
   transform: translateX(50%) rotateZ(-65deg);
}
.shootingStar:nth-child(1) {
   top: calc(0%);
   left: calc(-28%);
   -moz-animation-delay: 4500ms;
   -webkit-animation-delay: 1400ms;
   animation-delay: 1400ms;
}
.shootingStar:nth-child(1)::before,
.shootingStar::after:nth-child(1),
.shootingStar:nth-child(1)::after {
   -moz-animation-delay: 1400ms;
   -webkit-animation-delay: 1400ms;
   animation-delay: 1400ms;
}
.shootingStar:nth-child(2) {
   top: calc(5%);
   left: calc(-19%);
   -moz-animation-delay: 4300ms;
   -webkit-animation-delay: 4300ms;
   animation-delay: 4300ms;
}
.shootingStar:nth-child(2)::before,
.shootingStar::after:nth-child(2),
.shootingStar:nth-child(2)::after {
   -moz-animation-delay: 4300ms;
   -webkit-animation-delay: 4300ms;
   animation-delay: 4300ms;
}
.shootingStar:nth-child(3) {
   top: calc(0%);
   left: calc(-16%);
   -moz-animation-delay: 7100ms;
   -webkit-animation-delay: 7100ms;
   animation-delay: 7100ms;
}
.shootingStar:nth-child(3)::before,
.shootingStar::after:nth-child(3),
.shootingStar:nth-child(3)::after {
   -moz-animation-delay: 7100ms;
   -webkit-animation-delay: 7100ms;
   animation-delay: 7100ms;
}
.shootingStar:nth-child(4) {
   top: calc(-6%);
   left: calc(-10%);
   -moz-animation-delay: 5300ms;
   -webkit-animation-delay: 5300ms;
   animation-delay: 5300ms;
}
.shootingStar:nth-child(4)::before,
.shootingStar::after:nth-child(4),
.shootingStar:nth-child(4)::after {
   -moz-animation-delay: 5300ms;
   -webkit-animation-delay: 5300ms;
   animation-delay: 5300ms;
}
.shootingStar:nth-child(5) {
   top: calc(1%);
   left: calc(-5%);
   -moz-animation-delay: 2400ms;
   -webkit-animation-delay: 2400ms;
   animation-delay: 2400ms;
}
.shootingStar:nth-child(5)::before,
.shootingStar::after:nth-child(5),
.shootingStar:nth-child(5)::after {
   -moz-animation-delay: 2400ms;
   -webkit-animation-delay: 2400ms;
   animation-delay: 2400ms;
}
.shootingStar:nth-child(6) {
   top: calc(8%);
   left: calc(3%);
   -moz-animation-delay: 5500ms;
   -webkit-animation-delay: 5500ms;
   animation-delay: 5500ms;
}
.shootingStar:nth-child(6)::before,
.shootingStar::after:nth-child(6),
.shootingStar:nth-child(6)::after {
   animation-delay: 5500ms;
}
.shootingStar:nth-child(7) {
   top: calc(3%);
   left: calc(8%);
   -moz-animation-delay: 3500ms;
   -webkit-animation-delay: 3500ms;
   animation-delay: 3500ms;
}
.shootingStar:nth-child(7)::before,
.shootingStar::after:nth-child(7),
.shootingStar:nth-child(7)::after {
   -moz-animation-delay: 3500ms;
   -webkit-animation-delay: 3500ms;
   animation-delay: 3500ms;
}
.shootingStar:nth-child(8) {
   top: calc(-5%);
   left: calc(13%);
   -moz-animation-delay: 4300ms;
   -webkit-animation-delay: 4300ms;
   animation-delay: 4300ms;
}
.shootingStar:nth-child(8)::before,
.shootingStar::after:nth-child(8),
.shootingStar:nth-child(8)::after {
   -moz-animation-delay: 4300ms;
   -webkit-animation-delay: 4300ms;
   animation-delay: 4300ms;
}
.shootingStar:nth-child(9) {
   top: calc(2%);
   left: calc(16%);
   -moz-animation-delay: 2000ms;
   -webkit-animation-delay: 2000ms;
   animation-delay: 2000ms;
}
.shootingStar:nth-child(9)::before,
.shootingStar::after:nth-child(9),
.shootingStar:nth-child(9)::after {
   -moz-animation-delay: 2000ms;
   -webkit-animation-delay: 2000ms;
   animation-delay: 2000ms;
}
.shootingStar:nth-child(10) {
   top: calc(6%);
   left: calc(20%);
   -moz-animation-delay: 5800ms;
   -webkit-animation-delay: 5800ms;
   animation-delay: 5800ms;
}
.shootingStar:nth-child(10)::before,
.shootingStar::after:nth-child(10),
.shootingStar:nth-child(10)::after {
   -moz-animation-delay: 5800ms;
   -webkit-animation-delay: 5800ms;
   animation-delay: 5800ms;
}
.shootingStar:nth-child(11) {
   top: calc(1%);
   left: calc(24%);
   -moz-animation-delay: 8500ms;
   -webkit-animation-delay: 8500ms;
   animation-delay: 8500ms;
}
.shootingStar:nth-child(11)::before,
.shootingStar::after:nth-child(11),
.shootingStar:nth-child(11)::after {
   -moz-animation-delay: 8500ms;
   -webkit-animation-delay: 8500ms;
   animation-delay: 8500ms;
}
.shootingStar:nth-child(12) {
   top: calc(-4%);
   left: calc(29%);
   -moz-animation-delay: 3400ms;
   -webkit-animation-delay: 3400ms;
   animation-delay: 3400ms;
}
.shootingStar:nth-child(12)::before,
.shootingStar::after:nth-child(12),
.shootingStar:nth-child(12)::after {
   -moz-animation-delay: 3400ms;
   -webkit-animation-delay: 3400ms;
   animation-delay: 3400ms;
}
.shootingStar:nth-child(13) {
   top: calc(0%);
   left: calc(34%);
   -moz-animation-delay: 900ms;
   -webkit-animation-delay: 900ms;
   animation-delay: 900ms;
}
.shootingStar:nth-child(13)::before,
.shootingStar::after:nth-child(13),
.shootingStar:nth-child(13)::after {
   -moz-animation-delay: 900ms;
   -webkit-animation-delay: 900ms;
   animation-delay: 900ms;
}
.shootingStar:nth-child(14) {
   top: calc(5%);
   left: calc(39%);
   -moz-animation-delay: 4500ms;
   -webkit-animation-delay: 4500ms;
   animation-delay: 4500ms;
}
.shootingStar:nth-child(14)::before,
.shootingStar::after:nth-child(14),
.shootingStar:nth-child(14)::after {
   -moz-animation-delay: 4500ms;
   -webkit-animation-delay: 4500ms;
   animation-delay: 4500ms;
}
.shootingStar:nth-child(15) {
   top: calc(0%);
   left: calc(44%);
   -moz-animation-delay: 6600ms;
   -webkit-animation-delay: 6600ms;
   animation-delay: 6600ms;
}
.shootingStar:nth-child(15)::before,
.shootingStar::after:nth-child(15),
.shootingStar:nth-child(15)::after {
   -moz-animation-delay: 6600ms;
   -webkit-animation-delay: 6600ms;
   animation-delay: 6600ms;
}
.shootingStar:nth-child(16) {
   top: calc(-3%);
   left: calc(46%);
   -moz-animation-delay: 5300ms;
   -webkit-animation-delay: 5300ms;
   animation-delay: 5300ms;
}
.shootingStar:nth-child(16)::before,
.shootingStar::after:nth-child(16),
.shootingStar:nth-child(16)::after {
   -moz-animation-delay: 5300ms;
   -webkit-animation-delay: 5300ms;
   animation-delay: 5300ms;
}
.shootingStar:nth-child(17) {
   top: calc(1%);
   left: calc(50%);
   -moz-animation-delay: 2600ms;
   -webkit-animation-delay: 2600ms;
   animation-delay: 2600ms;
}
.shootingStar:nth-child(17)::before,
.shootingStar::after:nth-child(17),
.shootingStar:nth-child(17)::after {
   -moz-animation-delay: 2600ms;
   -webkit-animation-delay: 2600ms;
   animation-delay: 2600ms;
}
.shootingStar:nth-child(18) {
   top: calc(4%);
   left: calc(54%);
   -moz-animation-delay: 3700ms;
   -webkit-animation-delay: 3700ms;
   animation-delay: 3700ms;
}
.shootingStar:nth-child(18)::before,
.shootingStar::after:nth-child(18),
.shootingStar:nth-child(18)::after {
   -moz-animation-delay: 3700ms;
   -webkit-animation-delay: 3700ms;
   animation-delay: 3700ms;
}
.shootingStar:nth-child(19) {
   top: calc(-4%);
   left: calc(54%);
   -moz-animation-delay: 8200ms;
   -webkit-animation-delay: 8200ms;
   animation-delay: 8200ms;
}
.shootingStar:nth-child(19)::before,
.shootingStar::after:nth-child(19),
.shootingStar:nth-child(19)::after {
   -moz-animation-delay: 8200ms;
   -webkit-animation-delay: 8200ms;
   animation-delay: 8200ms;
}
.shootingStar:nth-child(20) {
   top: calc(3%);
   left: calc(-32%);
   -moz-animation-delay: 3300ms;
   -webkit-animation-delay: 3300ms;
   animation-delay: 3300ms;
}
.shootingStar:nth-child(20)::before,
.shootingStar::after:nth-child(20),
.shootingStar:nth-child(20)::after {
   -moz-animation-delay: 3300ms;
   -webkit-animation-delay: 3300ms;
   animation-delay: 3300ms;
}
.shootingStar:nth-child(21) {
   top: calc(-20%);
   left: calc(53%);
   -moz-animation-delay: 3700ms;
   -webkit-animation-delay: 3700ms;
   animation-delay: 3700ms;
}
.shootingStar:nth-child(21)::before,
.shootingStar::after:nth-child(21),
.shootingStar:nth-child(21)::after {
   -moz-animation-delay: 3700ms;
   -webkit-animation-delay: 00ms;
   animation-delay: 3700ms;
}
.shootingStar:nth-child(22) {
   top: calc(-15%);
   left: calc(48%);
   -moz-animation-delay: 4300ms;
   -webkit-animation-delay: 4300ms;
   animation-delay: 4300ms;
}
.shootingStar:nth-child(22)::before,
.shootingStar::after:nth-child(22),
.shootingStar:nth-child(22)::after {
   -moz-animation-delay: 4300ms;
   -webkit-animation-delay: 4300ms;
   animation-delay: 4300ms;
}
.shootingStar:nth-child(23) {
   top: calc(-15%);
   left: calc(-28%);
   -moz-animation-delay: 700ms;
   -webkit-animation-delay: 700ms;
   animation-delay: 700ms;
}
.shootingStar:nth-child(23)::before,
.shootingStar::after:nth-child(23),
.shootingStar:nth-child(23)::after {
   -moz-animation-delay: 700ms;
   -webkit-animation-delay: 700ms;
   animation-delay: 700ms;
}
.shootingStar:nth-child(24) {
   top: calc(-20%);
   left: calc(-33%);
   -moz-animation-delay: 6000ms;
   -webkit-animation-delay: 6000ms;
   animation-delay: 6000ms;
}
.shootingStar:nth-child(24)::before,
.shootingStar::after:nth-child(24),
.shootingStar:nth-child(24)::after {
   -moz-animation-delay: 6000ms;
   -webkit-animation-delay: 6000ms;
   animation-delay: 6000ms;
}

@keyframes tail {
   0% {
      width: 0px;
   }
   30% {
      width: 100px;
   }
   100% {
      width: 0px;
   }
}
@keyframes shine {
   0% {
      width: 0px;
   }
   60% {
      width: 30px;
   }
   100% {
      width: 0px;
   }
}
@keyframes shoot {
   0% {
      transform: translate(0, 0) rotateZ(65deg);
   }
   100% {
      transform: translate(40vw, 85vh) rotateZ(65deg);
   }
}
